@model IEnumerable<Tengella.Survey.Data.Models.Survey>
@{
	ViewData["Title"] = "Surveys";
}
<a class="btn btn-primary mb-5" asp-controller="Survey" asp-action="Create">New Survey</a>

<table class="table table-hover table-borderless" id="survey-table">
	<thead>
		<tr>
			<th>
				Name
			</th>
			<th>
				Respondents
			</th>
			<th>
				End Date
			</th>
			<th>
				View
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var obj in Model)
		{
			<tr>
				<td data-toggle="tooltip" data-placement="top" title="@obj.Description">
					@obj.Name
				</td>
				<td>
					@obj.Respondents.Count
				</td>
				<td>
					@Html.Raw(obj.EndDate.HasValue ? obj.EndDate.Value.ToString("dd/MM/yyyy") : "-")
				</td>
				<td>
					<a href="@Url.Action("Info", "Survey", new { id = obj.Id })" class="text-muted"><i class="bi bi-box-arrow-up-right"></i></a>
				</td>
			</tr>
		}
	</tbody>
</table>

@section Scripts{
	<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
	<script>
		var dataTable = $('#survey-table').DataTable({
			language: {
				searchPlaceholder: "Search",
				search: "" // Placeholder instead of label
			},
			columnDefs: [
				{
					targets: -1,
					orderable: false, //Disable sorting for last column
					className: 'dt-body-center',
					width: '1' // Small width makes the column width fit content
				}
			]
		});

		// Enable Bootstrap tooltips
		$(function () {
			$('[data-toggle="tooltip"]').tooltip();
		});
	</script>
}
