@model IEnumerable<Tengella.Survey.Data.Models.Survey>
@{
	ViewData["Title"] = "Surveys";
}
<a class="btn btn-primary mb-5" asp-controller="Survey" asp-action="Create">New Survey</a>

<table class="table table-hover table-borderless" id="survey-table">
	<thead>
		<tr>
			<th>
				Name
			</th>
			<th>
				Respondents
			</th>
			<th>
				End Date
			</th>
			<th>
				
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var obj in Model)
		{
			<tr>
				<td data-toggle="tooltip" data-placement="top" title="@obj.Description">
					@obj.Name
				</td>
				<td>
					@obj.Respondents.Count
				</td>
				<td>
					@Html.Raw(obj.EndDate.HasValue ? obj.EndDate.Value.ToString("dd/MM/yyyy") : "-")
				</td>
				<td class="text-end">
					<a href="@Url.Action("Info", "Survey", new { id = obj.Id })" class="text-muted"><i class="bi bi-info-circle"></i></a>
					<a href="@Url.Action("Create", "Survey", new { id = obj.Id })" class="text-muted"><i class="bi bi-files"></i></a>
					<form method="post" action="@Url.Action("Delete", "Survey")" class="d-inline" id="deleteForm-@obj.Id">
						<input type="hidden" name="id" value="@obj.Id" />
						<a href="#" class="text-muted" onclick="submitDeleteForm(@obj.Id);"><i class="bi bi-trash3"></i></a>
					</form>
				</td>
			</tr>
		}
	</tbody>
</table>

@section Scripts{
	<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
	<script>
		var dataTable = $('#survey-table').DataTable({
			language: {
				searchPlaceholder: "Search",
				search: "" // Placeholder instead of label
			},
			columnDefs: [
				{
					targets: -1,
					orderable: false, //Disable sorting for last column
					className: 'dt-body-center',
					width: '8%' // Small width makes the column width fit content
				}
			]
		});

		// Enable Bootstrap tooltips
		$(function () {
			$('[data-toggle="tooltip"]').tooltip();
		});

		// Submit form when link is clicked (because no submit-button is used)
		function submitDeleteForm(surveyId) {
			var form = document.getElementById("deleteForm-" + surveyId);
			if (form && confirm('Are you sure you want to delete this survey? This action cannot be undone.')) {
				form.submit();
			}
		}
	</script>
}
