@model Survey
@using Tengella.Survey.Data.Models;
@{
	ViewData["Title"] = "Take Survey";
}


<!-- List all questions -->
<div class="card-width">
<h1 class="mb-3">@Model.Name</h1>
	@foreach (var question in Model.Questions)
	{
		<div class="question-container border background-theme-secondary">
			<p class="lead"><strong>@question.Content</strong></p>

			<!-- Check if question contains any answer alternatives -->
			@if (question.Answers.Any())
			{
				<!-- List alternatives with radio buttons -->
				<ul class="list-unstyled">
					@foreach (var answer in question.Answers)
					{
						<li>
							<label class="form-check">
								<input type="radio" class="form-check-input background-theme-secondary" name="@question.Id" value="@answer.Id">
								@answer.Content
							</label>
						</li>
					}
				</ul>
			}
			else
			{
				<!-- Add textarea if no answer alternatives exist (it's a free-text question) -->
				<textarea class="form-control background-theme-secondary mb-4" name="@question.Id" rows="3"></textarea>
			}
		</div>
	}

	<!-- Submit button that's disabled whenever this page is used as a survey preview' -->
	<button id="submit-survey" type="button" class="btn accent-theme-secondary mb-5"
		@if (ViewData.ContainsKey("IsPreview") && (bool)ViewData["IsPreview"])
		{
			<text>disabled</text>
		}>
		Submit
	</button>
</div>
@section Scripts {
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>var surveyId = @Model.Id</script>
	<script src="~/js/Views/Take.js"></script>
}