@model Tengella.Survey.Data.Models.Recipient

<h2>Recipient Details</h2>
<p class="lead">Participated in @Model.Respondents.Count surveys</p>

@using (Html.BeginForm("Update", "Recipient", FormMethod.Post))
{
	@Html.HiddenFor(m => m.Id)

	<div class="form-group">
		<label>Email</label>
		<input type="text" class="form-control mb-2" name="Email" value="@Model.Email" disabled />
	</div>

	<div class="form-group">
		<label>Name</label>
		<input type="text" class="form-control mb-2" name="Name" value="@Model.Name" disabled />
	</div>

	<div class="form-group">
		<label>Type</label>
		<select asp-for="Type" asp-items="Html.GetEnumSelectList<Tengella.Survey.Data.Models.RecipientType>()" class="form-control mb-2" disabled></select>
	</div>

	<div class="form-group">
		<label>Identifier</label>
		<input type="text" class="form-control mb-2" name="Identifier" value="@Model.Identifier" disabled />
	</div>


	<div class="d-flex justify-content-between">
		<div>
			<button type="button" class="btn btn-primary" id="editButton">Edit</button>
			<button type="submit" class="btn btn-primary" id="saveButton" style="display:none;" disabled>Save</button>
			<button type="button" class="btn btn-primary" id="cancelButton" style="display:none;">Cancel</button>
		</div>

		<button type="button" class="btn btn-secondary" id="deleteButton" style="display:none;">Delete</button>
	</div>
}


@section scripts {
	<script src="~/js/Views/Recipient/Info.js"></script>
}
