@model IEnumerable<Tengella.Survey.Data.Models.Recipient>
@{
	ViewData["Title"] = "Recipients";
}
<a class="btn btn-primary mb-5" asp-controller="Recipient" asp-action="Create">New Recipient</a>

<table class="table table-hover table-borderless" id="recipient-table">
	<thead>
		<tr>
			<th>
				Name
			</th>
			<th>
				Identifier
			</th>
			<th>
				Email
			</th>
			<th>
				Type
			</th>
			<th>
				Edit
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var obj in Model)
		{
			<tr>
				<td>
					@obj.Name
				</td>
				<td>
					@obj.Identifier
				</td>
				<td>
					@obj.Email
				</td>
				<td>
					@obj.Type
				</td>
				<td>
					<a href="@Url.Action("Info", "Recipient", new { id = obj.Id })" class="text-muted"><i class="bi bi-pencil-square"></i></a>
				</td>
			</tr>
		}
	</tbody>
</table>

@section Scripts{
	<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
	<script>
		var dataTable = $('#recipient-table').DataTable({
			language: {
				searchPlaceholder: "Search", 
				search: "" // Placeholder instead of label
			},
			columnDefs: [
				{
					targets: -1,
					orderable: false, //Disable sorting for last column
					className: 'dt-body-center',
					width: '1' // Small width makes the column width fit content
				}
			]
		});
	</script>
}