@model IEnumerable<Tengella.Survey.Data.Models.Recipient>
@{
	ViewData["Title"] = "Recipients";
}
<p><a asp-area="" asp-controller="Recipient" asp-action="Create">New Recipient</a></p>

<table class="table">
	<thead>
		<tr>
			<th>
				Name
			</th>
			<th>
				Identifier
			</th>
			<th>
				Email
			</th>
			<th>
				Type
			</th>
			<th>
				Edit
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var obj in Model)
		{
			<tr>
				<td>
					@obj.Name
				</td>
				<td>
					@obj.Identifier
				</td>
				<td>
					@obj.Email
				</td>
				<td>
					@obj.Type
				</td>
				<td>
					<a href="@Url.Action("Info", "Recipient", new { id = obj.Id })" class="text-muted"><i class="bi bi-pencil-square"></i></a>
				</td>
			</tr>
		}
	</tbody>
</table>