@model IEnumerable<Tengella.Survey.Data.Models.Recipient>
@{
	ViewData["Title"] = "Recipients";
}
<div class="d-flex justify-content-between mb-5">

	<!-- Dropdown Field -->
	<div class="dropdown me-3">
		<button class="btn btn-secondary dropdown-toggle" type="button" id="dummyDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Select Item
		</button>
		<div class="dropdown-menu" aria-labelledby="dummyDropdown">
			<a class="dropdown-item" href="#">Item 1</a>
			<a class="dropdown-item" href="#">Item 2</a>
			<a class="dropdown-item" href="#">Item 3</a>
		</div>
	</div>

	<!-- Text Field with Bootstrap Button -->
	<div class="input-group">
		<input type="text" class="form-control" placeholder="Email list name" aria-label="Type something..." style="max-width: 150px;">
		<button class="btn btn-primary" type="button">Create</button>
	</div>

	<a class="btn btn-primary flex-shrink-0" asp-controller="Recipient" asp-action="Create">New Recipient</a>
</div>



<table class="table table-hover table-borderless" id="recipient-table">
	<thead>
		<tr>
			<th>
				Name
			</th>
			<th>
				Identifier
			</th>
			<th>
				Email
			</th>
			<th>
				Type
			</th>
			<th>
				Edit
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var obj in Model)
		{
			<tr>
				<td class="border-right">
					@obj.Name
				</td>
				<td class="border-right">
					@obj.Identifier
				</td>
				<td class="border-right">
					@obj.Email
				</td>
				<td class="border-right">
					@obj.Type
				</td>
				<td>
					<a href="@Url.Action("Info", "Recipient", new { id = obj.Id })" class="text-muted"><i class="bi bi-pencil-square"></i></a>
				</td>
			</tr>
		}
	</tbody>
</table>

@section Scripts{
	<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
	<script>
		var dataTable = $('#recipient-table').DataTable({
			language: {
				searchPlaceholder: "Search", 
				search: "" // Placeholder instead of label
			},
			columnDefs: [
				{
					targets: -1,
					orderable: false, //Disable sorting for last column
					className: 'dt-body-center',
					width: '1' // Small width makes the column width fit content
				}
			]
		});
	</script>
}