@model IEnumerable<Tengella.Survey.Data.Models.Recipient>
@using Tengella.Survey.Data.Models;
@{
	ViewData["Title"] = "Recipients";
	List<RecipientList> recipientLists = ViewBag.RecipientLists;
}
<!-- Recipient and RecipientList Creation controls -->
<div class="d-flex justify-content-between mb-5">
	<div class="d-flex justify-content-start">
		<!-- Dropdown field for picking a list -->
		<div class="dropdown input-group">
			<select id="recipientListDropdown" class="form-control">
				<option value="">-- Select List --</option>
				@foreach (var recipientList in recipientLists)
				{
					<option value="@recipientList.Id">@recipientList.Name</option>
				}
			</select>
			<button id="clearButton" class="btn btn-primary me-4">Clear</button>
		</div>

		<!-- Text Field and button for creating a list -->
		<form id="createListForm" asp-action="CreateRecipientList" asp-controller="Recipient" method="post" style="min-width: 220px;">
			<div class="input-group">
				<input type="text" name="listName" class="form-control" placeholder="Email list name">
				<button class="btn btn-primary" type="submit">Create</button>
			</div>
		</form>
	</div>

	<div class="d-flex justify-content-end">
		<!-- File choose for adding recipients from file -->
		<div>
			<input class="form-control" type="file" accept=".xlsx,.csv" id="file-picker">
		</div>
		<div>
			<!-- Button for Recipient creation-->
			<a class="btn btn-primary ms-3" id="newRecipientButton">New Recipient</a>
		</div>
	</div>

</div>

<table class="table table-hover table-borderless" id="recipient-table">
	<thead>
		<tr>
			<th>
				<!-- Checkbox column header -->
			</th>
			<th>
				Name
			</th>
			<th>
				Identifier
			</th>
			<th>
				Email
			</th>
			<th>
				Type
			</th>
			<th>
				Edit
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var obj in Model)
		{
			<tr>
				<td class="border-right">
					<input type="checkbox" class="rowCheckbox" value="@obj.Id">
				</td>
				<td class="border-right">
					@obj.Name
				</td>
				<td class="border-right">
					@obj.Identifier
				</td>
				<td class="border-right">
					@obj.Email
				</td>
				<td class="border-right">
					@obj.Type
				</td>
				<td>
					<a href="@Url.Action("Info", "Recipient", new { id = obj.Id })" class="text-muted"><i class="bi bi-pencil-square"></i></a>
				</td>
			</tr>
		}
	</tbody>
</table>

@section Scripts{
	<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
	<script src="~/js/Views/Recipient/List.js"></script>
}